html
    body
        .ts.test
            | ddddd
            | dddddd
            
        //- ddddd
        select.ts.medium.dropdown(data-setting-name='language')
            each $item in $items
                option #{$item}
                
        //- ddddd
        select.ts.medium.dropdown(data-setting-name='language')
            each $item in $items
                option #{$item}