language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
install:
  - composer require satooshi/php-coveralls:~0.6@stable
 
before_script:
  - mkdir -p build/logs
 
script:
  - phpunit --coverage-clover build/logs/clover.xml
#script:
#  - phpunit Test test/travis/test.php